{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <h2 class="main-title text-align-center">PCMs Assignment</h2>
            <hr />
            {% if error_message %}
                {{ error_message }}
            {% endif %}
            <form method="POST" action="">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="text-align-center">Select</th>
                                <th>E-mail</th>
                                <th>First name</th>
                                <th>Last Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in paper_pcms %}
                                <tr class="clickable-row-check" data-checkbox="{{ obj.pcm.id }}">
                                    <td class="text-align-center"><input type="checkbox" id="{{ obj.pcm.id }}" name="pcms" value="{{ obj.pcm.id }}"></td>
                                    <td>{{ obj.pcm.email }}</td>
                                    <td>{{ obj.pcm.first_name }}</td>
                                    <td>{{ obj.pcm.last_name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if not_chosen_papers %}
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-align-center">Select</th>
                                    <th>E-mail</th>
                                    <th>First name</th>
                                    <th>Last Name</th>
                                    <th>Assigned papers</th>
                                </tr>
                            </thead>
                            <tbody>
                                <h3>Not chosen papers</h3>
                                {% for obj,n in other_pcms %}
                                    <td class="text-align-center"><input type="checkbox" id="{{ obj.id }}" name="pcms" value="{{ obj.id }}"></td>
                                        <td>{{ obj.email }}</td>
                                        <td>{{ obj.first_name }}</td>
                                        <td>{{ obj.last_name }}</td>
                                        <td>{{ n }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            <p class="text-align-center"><button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Assign PCMs</button></p>
            </form>
        </div>
    </div>
{% endblock %}